{% extends "accountbase.html" %}
{% load static %}
{% block header %}
{% include "account/header.html" %}
{% endblock %}
{% block content %}
    <style>
        body {
            background-color: #f2f2f2; /* Açık gri arkaplan */
            text-align: center;
        }
    </style>
    <div class="service-detail-container"style="margin-top: 100px;">
        <h1>{{ servis.adı }}</h1>
        <p>{{ servis.açıklama_kısa }}</p>
        <img src="{{ servis.resim_kücük.url }}" alt="İndir" width="50">
        <div class="feedback">
            <h2>Geri Bildirim</h2>
            <p>{{ servis.açıklama_uzun }}</p>
            <img src="{{ servis.resim_büyük.url }}" alt="İndir" width="50">
        </div>
        <a href="#" class="button">Kullan</a>
    </div>
    {% endblock %}
{% block footer %}
    {% include "account/footer.html" %}
{% endblock %}