{% extends "base.html"%}
{% load static %}

{% block header %}
<div class="left">
    <img src="{% static 'img/logo.png' %}" alt="Logo" style="width: 100px; height: auto;">
    <a href="{% url 'index_account' %}">Anasayfa</a>
    <a href="">Yükleme</a>
    <a href="">Sonuçlar</a>
    <a href="{% url 'profile' %}">Profil</a>
    <a href="">Çıkış Yap</a>
</div>
{% endblock %}
{% block content %}
    {% include "account/accountcontent.html" %}
{% endblock %}
{% block footer %}
<div class="left" style="height: 10px;">
    <img src="{% static 'img/logo.png' %}" alt="Logo" style="width: 100px; height: auto;">
    <a href="{% url 'index_account' %}">Anasayfa</a>
    <a href="">Yükleme</a>
    <a href="">Sonuçlar</a>
    <a href="{% url 'profile' %}">Profil</a>
    <a href="">Çıkış Yap</a>

</div>
{% endblock %}
