{% extends "accountbase.html" %}
{% load static %}
{% block header %}
{% include "account/header.html" %}
{% endblock %}
{% block content %}
<style>
    body,
    html {
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
        height: 100%;
    }
</style>
<div class="container">
    <div class="row justify-content-center" style="margin-top: 60px;">
        <div class="col-lg-8 col-md-10 col-sm-12 mt-3">
            <div class="service-detail-container">
                <h1>{{ servis.adı }}</h1>
                <div class="service-info">
                    <img src="{{ servis.resim_kücük.url }}" alt="İndir" width="50">
                    <p>{{ servis.açıklama_kısa }}</p>
                </div>
                <div class="feedback">
                    <h2>Geri Bildirim</h2>
                    <p>{{ servis.açıklama_uzun }}</p>
                    <img src="{{ servis.resim_büyük.url }}" alt="İndir" width="150">
                </div>
                <a href="{% url 'submit_page' %}" class="button">Kullan</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
{% include "account/footer.html" %}
{% endblock %}