{% extends "accountbase.html"%}
{% load static %}
{% block header %}
    {% include "account/header.html" %}
{% endblock %}
{% block content %}
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Arka plan resmi */
    background-image: url('');
    background-size: cover;
    background-position: center;
  }
</style>
<div class="hero-container">
  <div class="logo">
    <img src="{% static 'guest\img\logo.png' %}" style="margin-left: 60px;" alt="Logo">
    <h2>MRI beyin analizi için açık erişim platformu</h2>
  </div>
</div>


<div class="mission-container">
  <div class="caption">
    <h1 style="margin-top: -50px;">MİSYONUMUZ</h1>

    <p>Brainweb platformu çevrimiçi açık bir MRI beyin hacim ölçümü sistemidir.Misyonumuz, dünyanın her yerindeki
      araştırmacıların,<br> karmaşık yazılım paketlerini öğrenmeye veya yerel sitelerinde pahalı hesaplama altyapılarına
      sahip olmaya gerek kalmadan, MRI </br>verilerinden otomatik olarak hacimsel beyin bilgisi elde etmelerine yardımcı
      olmaktır.</p>
    <p> </p>
    <p>Brainweb platformu tam otomatik olarak çalışmakta olup herhangi bir insan müdahalesine gerek kalmadan birkaç
      dakika içerisinde<br> beyin analizi yapabilmektedir. Şu anda farklı beyin alanlarını ve hastalıklarını analiz eden
      boru hatları kurduk.</p>
    <p>Bu çevrimiçi platform, ticari olmayan ve tıbbi olmayan amaçlar için ücretsizdir (yalnızca araştırma).</p>
    <p> İşbirliği arıyoruz, lütfen bizimle herhangi bir geri bildirimde bulunarak iletişime geçin team@brainweb.net</p>
  </div>
</div>
<h1 style="text-align: center; margin-bottom: -350px;">Hizmetlerimiz</h1>
<div class="services-container">
  {% for servis in servisler %}
  <div class="services-box" onclick="window.location.href = '/account/servicedetail/{{ servis.id }}';">
    <img class="services-image" src="{{ servis.resim_kücük.url }}" alt="Fotoğraf">
    <div class="caption">
      <h1>{{ servis.adı }}</h1>
      <p>{{ servis.açıklama_kısa }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<h1 style="text-align: center; margin-top: -100px;">Nasıl Çalışır?</h1>

<div class="how-it-works-section">
  <div class="steps">
    <img src="{% static 'guest\img\login.png' %}" alt="">
    <h2>Giriş</h2>
    <p>Öncelikle yeni kullanıcı olarak kayıt olmanız veya kayıtlı iseniz sisteme giriş yapmanız gerekmektedir. </p>
  </div>
  <div class="steps">
    <img src="{% static 'guest\img\upload.png' %}" alt="">
    <h2>Yükleme </h2>
    <p>İkinci olarak, sıkıştırılmış anonimleştirilmiş beyin MRI verilerinizi NIFTI formatında yükleyin.</p>
  </div>
  <div class="steps">
    <img src="{% static 'guest\img\process.png' %}" alt="">
    <h2>İşleme </h2>
    <p>Verileriniz yüklendikten sonra volBrain isteğinizi mümkün olan en kısa sürede işleme alacak ve sonuçları içeren
      bir rapor oluşturacaktır. </p>
  </div>
  <div class="steps">
    <img src="{% static 'guest\img\result.png' %}" alt="">
    <h2>Sonuç</h2>
    <p>Son olarak, işinizi tamamladıktan sonra sonuçlarınızı içeren PDF raporunu içeren bir e-posta alacaksınız. </p>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var backgrounds = ['{% static "guest\\img\\indir1.jpg" %}']; // Arka plan resimlerinin dosya adları
    var randomIndex = Math.floor(Math.random() * backgrounds.length); // Rastgele bir indeks seç
    var selectedBackground = backgrounds[randomIndex]; // Seçilen arka plan resmi

    document.body.style.backgroundImage = "url('" + selectedBackground + "')"; // Seçilen arka plan resmini ayarla
  });
</script>

<script>
  // JavaScript ile her bir kutunun tıklanabilir olmasını sağlayalım
  const boxes = document.querySelectorAll('.box');
  boxes.forEach(box => {
    box.addEventListener('click', () => {
      const link = box.querySelector('a').getAttribute('href');
      window.location.href = link;

    });
  });
</script>
{% endblock %}
{% block footer %}
    {% include "account/footer.html" %}
{% endblock %}
