{% load static %}
<div class="row align-items-center">
    <!-- Footer Logo -->
    <div class="col-4 col-md-2">
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid" style="width: 100px;">
    </div>
    
    <!-- Footer Bağlantıları -->
    <div class=" footer-mobile col-8 col-md-10 d-flex justify-content-end"> <!-- Bağlantılar için sütun -->
        <a href="{% url 'index_account' %}" class="text-white mx-1">Anasayfa</a>
        <a href="{% url 'submit_page' %}" class="text-white mx-1">Hizmetler</a>
        <a href="{% url 'joblist' %}" class="text-white mx-1">Sonuçlar</a>
        <a href="{% url 'profile' %}" class="text-white mx-1">Profil</a>
        <a href="{% url 'logout' %}" class="text-white mx-1">Çıkış Yap</a>
    </div>
</div>
