{% extends "loginbase.html"%}
{% load static %}
{% block header %}
{% include "account/loginheader.html" %}
{% endblock %}
{% block content %}
<style>
    .account-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    /* "E-" kelimesinin alt satıra geçmemesi için */
    .form-label {
        white-space: nowrap;
    }
</style>

<section class="container">
    <div class="account-container">
        <div class="form-container">

            <form method="POST" class="login-form">
                {% csrf_token %}
                <h1 class="text-white text-center mb-4">Şifremi Unuttum</h1>
                <div class="text-white form-group row required">
                    <label for="mail" class="col">E-Posta</label>
                    <input type="email" class="form-control" id="mail" name="mail">
                </div>
                <button type="submit" class="btn btn-primary btn-block opacity">Gönder</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
