{% extends "accountbase.html" %}
{% load static %}
{% block header %}
    {% include "account/header.html" %}
{% endblock %}
{% block content %}
<style>
  body,
  html {
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
      height: 100%;
  }
</style>

  <div class="joblist-container mt-5">
    <h1 class="joblist-h1">Sonuçlar</h1>
    <p class="joblist-p"></p>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tarih</th>
          <th>Durum</th>
          <th>İndirme</th>
        </tr>
      </thead>
      <tbody>
        {% for job in user_jobs %}
        <tr>
          <td>{{ job.id }}</td>
          <td>{{ job.upload_date }}</td>
          <td>
            {% if job.processing_status == "Tamamlandı" %}
              <span class="badge bg-success px-3 py-2">Tamamlandı</span>
            {% elif job.processing_status == "İşleniyor" %}
              <span class="badge bg-warning px-3 py-2">İşleniyor</span>
            {% elif job.processing_status == "Başarısız" %}
              <span class="badge bg-danger px-3 py-2">Başarısız</span>
            {% endif %}
          </td>
          
          <td>
            {% if job.output %}
              <a href="{{ job.output.url }}" class="btn btn-sm btn-outline-danger" title="Download Report File">
                <span class="fa fa-download"></span>
              </a>
            {% endif %}
            {% if job.output_pdf %}
              <a href="{{ job.output_pdf.url }}" class="btn btn-sm btn-outline-danger" title="Download Report File">
                <span class="fas fa-file-pdf"></span>
              </a>
            {% else %}
              Hazır değil
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block footer %}
    {% include "account/footer.html" %}
{% endblock %}
