{% extends "loginbase.html"%}
{% load static %}
{% block header %}
{% include "account/loginheader.html" %}
{% endblock %}
{% block content %}
<section class="container">
  <div class="account-container">
    <div class="form-container">
      <img src="{% static '/img/logo.png' %}" alt="Logo" class="logo img-fluid" />
      <form action="{% url 'login' %}" method="POST" class="login-form">
        {% csrf_token %}
        <div class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        <div class="form-group">
          <input name="email" type="email" class="form-control" placeholder="E-posta" />
        </div>
        <div class="form-group">
          <input name="password" type="password" class="form-control" placeholder="Şifre" />
        </div>
        <button type="submit" value="Login" class="btn btn-primary btn-block">Giriş Yap</button>
      </form>
      <div class="register-forgot">
        <a href="{% url 'register' %}" class="opacity">Kayıt Ol</a>
        <a href="{% url 'forgot' %}" class="opacity">Şifremi Unuttum</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}