
{% load static %}
<div class="row align-items-center">

    <!-- Ana navigasyon bağlantıları -->
    <div class="col-md-12 d-sm-flex align-items-center justify-content-end"> <!-- Sağa hizalamak için "justify-content-end" sınıfı eklendi -->
        <nav class="ml-auto"> <!-- Sağa hizalamak için "ml-auto" sınıfı eklendi -->
            <a href="{% url 'index' %}" class="text-white mx-3">Anasayfa</a>
            <a href="{% url 'service_page' %}" class="text-white mx-3">Hizmetler</a>
            <a href="{% url 'login_page' %}" class="text-white mx-3">Giriş Yap</a>
        </nav>
    </div>
</div>
