{% extends "loginbase.html" %}
{% load static %}
{% block header %}
{% include "account/loginheader.html" %}
{% endblock %}
{% block content %}
<section class="container">
    <div class="account-container">
        <div class="form-container">
            <form method="POST" class="login-form">
                {% csrf_token %}
                <h1 class="text-white text-center mb-4">Yeni Şifre</h1>
                <div class="text-white form-group row required">
                    <label for="password" class="col">Yeni Şifre</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="text-white form-group row required">
                    <label for="password_confirm" class="col">Yeni Şifre (Tekrar)</label>
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm">
                </div>
                <button type="submit" class="btn btn-primary btn-block opacity">Güncelle</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
