{% extends "loginbase.html"%}
{% load static %}
{% block header %}
{% include "account/loginheader.html" %}
{% endblock %}
{% block content %}
<style>
    body {
        background-color: white;
    }
    .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}
</style>
<section class="container">
    <div class="account-container">
        <div class="form-container">
            <img src="{% static 'img/logomavi.png' %}" alt="Logo" class="logo"
                style="margin-top: 100px;  margin-left: 90px;" />

            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endif %}
                <div class="required">
                    <div class="col col-md-3 col-lg-2">
                        <label for="first_name">İsim</label>
                    </div>
                    <div class="col col-md-9 col-lg-10">
                        <input style="background-color: #bbcfe9; width: 300px;" class="form-control" id="first_name"
                            name="first_name" type="text" value="" required>
                    </div>
                </div>
                <div class=" required">
                    <div class="col col-md-3 col-lg-2">
                        <label for="last_name">Soyisim</label>
                    </div>
                    <div class="col col-md-9 col-lg-10">
                        <input style="background-color: #bbcfe9; width: 300px;" class="form-control" id="last_name" name="last_name" type="text" value="" required>
                    </div>
                </div>
                <div class=" required">
                    <div class="col col-md-3 col-lg-2">
                        <label for="mail">E-Posta</label>
                    </div>
                    <div class="col col-md-9 col-lg-10">
                        <input style="background-color: #bbcfe9; width: 300px;" class="form-control" id="mail" name="mail" type="email" value="">
                    </div>
                </div>
                <div class=" required">
                    <div class="col col-md-3 col-lg-2">
                        <label for="password">Şifre</label>
                    </div>
                    <div class="col col-md-9 col-lg-10">
                        <input style="background-color: #bbcfe9; width: 300px;" class="form-control" id="password" name="password" type="password" value="" required>
                    </div>
                </div>

                <div class=" required">
                    <div class="col col-md-3 col-lg-2">
                        <label for="password_confirm">Şifreyi Onayla</label>
                    </div>
                    <div class="col col-md-9 col-lg-10">
                        <input style="background-color: #bbcfe9; width: 300px;" class="form-control"
                            id="password_confirm" name="password_confirm" type="password" value="" required>
                    </div>
                </div>


                <button style="margin-left: 110px; width: 300px; margin-top: 30px;" class="opacity">Kayıt Ol</button>
            </form>
        </div>
    </div>
</section>


{% endblock %}