{% extends "accountbase.html"%}
{% load static %}
{% block header %}
{% include "account/header.html" %}
{% endblock %}
{% block content %}
<div class="pipeline-container" style="margin-top: 100px;">
  <h1>Boru Hattı Seçimi</h1>
  <div class="pipeline-buttons">

    {% for servis in servisler %}
    <div class="pipeline-button" data-service-id="{{ servis.id }}">
      <img src="{{ servis.resim_kücük.url }}" alt="{{ servis.adı }}">
      <span>{{ servis.adı }}</span>
    </div>
    {% endfor %}
  </div>
</div>

<div class="upload-content">
  <div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  <div id="dynamic-content" class="hidden">
    <p id="description">Açıklama metni buraya gelecek</p>
    <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
      <!-- URL yönlendirmesi için action kullan -->
      {% csrf_token %}
      <!-- CSRF koruması için -->
      <div class="file-upload-container">
        <label for="file-upload" class="file-upload-label">Dosya Seç</label>
        <input type="file" id="file-upload" name="file" class="visually-hidden">
        <span id="file-name" class="file-name">Dosya seçilmedi</span> <!-- Dosya adını göstermek için -->
      </div>
      <button class="submit-button" type="submit">Gönder</button> <!-- Formu gönder -->
    </form>

  </div>
</div>
{% endblock %}

{% block footer %}
{% include "account/footer.html" %}
<script src="{% static 'account/js/submit.js'%}"></script>
{% endblock %}