body {
    margin: 0;
    box-sizing: border-box;
    background: var(--background);
    letter-spacing: 1px;
}
header {
    position: fixed;
    top: 0;
    background-color: #29475f;
    padding: 20px;
    z-index: 1;
  }

.account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.home-button {
    color: #fff;
    text-decoration: none;
}

.logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}
/* Form styles */
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    background-color: #bbcfe9;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    width: 100%;
}

.login-form button {
    background-color: #7092be;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group {
    margin-bottom: 15px;
}

button:hover {
    background-color: #333;
}

:root {
    --background: #29475f;
    --color: #ffffff;
    --primary-color: #555;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--color);
}

h1 {
    font-size: 2.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.account-container form input {
    display: block;
    padding: 14.5px;
    width: 100%;
    margin: 0;
    color: #ffffff;
    outline: none;
    background-color: #5e5e5e;
    border: none;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    border-radius: 2rem;
}

.account-container form input:focus {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
}

.account-container form button {
    background-color: #7092be;
    color: #ffffff;
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.1s ease-in-out;
    border: none;
}
.account-container form button:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

.register-forgot {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.required label:after {
    content: "*";
    color: red;
}

.required {
    display: flex;
    align-items: center;
}

.required .col {
    flex: 0 0 auto;
    
    width: 100px;
}

.required input {
    flex: 1;
    margin-top: 0;
}
