body {
  background-color: #fff; /* Beyaz arka plan */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center; /* Yatayda ortala */
  align-items: flex-start; /* Dikeyde en üstte olacak şekilde */
  height: calc(100vh - 40px); /* Sayfa yüksekliğinin 40 piksel eksik olacak şekilde ayarla */
  padding-top: 20px; /* Üst boşluk */
}

.content {
    margin-left: 320px; /* Sidebar genişliği + margin */
    margin-top: 20px; /* Üst boşluk */
    text-align: left; /* İçeriği ortala */
}

.sidebar {
  position: fixed;
  top: 24px; /* Sayfanın üstünden 20px aşağıda */
  left: 28%; /* Sayfanın ortasına */
  transform: translateX(-50%); /* Yatayda ortala */
  width: 230px;
  height: 100vh;
  background-color: #fff;
 
  box-shadow: none; /* Gölgelendirmeyi kaldırın */
  border-top: none;
  border-bottom: none; /* Sınırları kaldırın */
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li a.active {
  background-color: #3498db;
  color: #fff;
}

.profile-form, .user-details, .change-password-form, .delete-account-form {
  display: none;
  width: 700px;
  padding: 20px;
  border: 1px solid #ccc;
}

.profile-form , .change-password-form, .delete-account-form {
  display: flex;
  flex-direction: column;
}

.profile-form label, .change-password-form label, .delete-account-form label {
  display: inline-block;
  width: 100px; /* Sabit genişlik */
  text-align: left; /* Metni sağa hizala */
  margin-right: 10px; /* Sağdan boşluk */
}

.profile-form input[type="button"], .change-password-form input[type="button"], .delete-account-form input[type="button"] {
  width: 33%;
  padding: 5px ;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px; /* Butonlar arasında boşluk bırakmak için */
  margin-right: 100px; /* Sağdan boşluk */
  margin-left: 240px; /* Soldan boşluk */
  text-align: center; /* Metni ortala */
}

.profile-form input[type="button"]:hover, .change-password-form input[type="button"]:hover, .delete-account-form input[type="button"]:hover {
  background-color: #2980b9;
}
/* Bu kısım eklenmiştir */
.sidebar .profile-form,
.sidebar .user-details,
.sidebar .change-password-form,
.sidebar .delete-account-form {
    display: block;
    width: auto;
    padding: 10px;
    border: none;
}


.profile-form input,
.change-password-form input,
.delete-account-form input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px; /* Yuvarlak köşe */
    border: 1px solid #ccc; /* Kenarlık rengi ve kalınlığı */
    width: 500px; /* Genişlik, içerik alanının genişliğine göre ayarlanır */
    box-sizing: border-box; /* Kutu modelini içerik alanının genişliğine dahil etmek için */
}

.element {
  width: 50vw;
}

.element {
  height: 50vh;
}


.profile-form button, .change-password-form button, .delete-account-form button {
  width: 33%;
  padding: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px; /* Butonlar arasında boşluk bırakmak için */
  margin-right: auto; /* Sağdan boşluk */
  margin-left: 240px; /* Soldan boşluk */
  text-align: center; /* Metni ortala */
}

.profile-form button:hover, .change-password-form button:hover, .delete-account-form button:hover {
  background-color: #2980b9;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert>p,
.alert>ul {
  margin-bottom: 0;
}

.alert>p+p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}