/* Genel CSS */
body {
  display: flex;
  flex-direction: column;
  /* Dikey yönde düzenleme */
  min-height: 100vh;
  /* Minimum yükseklik olarak tüm ekranı kapsar */
  margin: 0;
}

main {
  flex-grow: 1;
}


header {
  position: fixed;
  top: 0;
  background-color: #29475f;
  padding: 20px;
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #5e5e5e;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  z-index: 0;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 250px;
  margin-top: 50px;
}

.how-it-works-section {
  display: flex;
  justify-content: space-between;
  /* Adımları eşit aralıklarla dağıtır */
  align-items: center;
  /* Dikeyde hizalamayı sağlar */
  padding-bottom: 100px;
}

.steps {
  max-width: 275px;
  height: 352px;
  flex: 1;
  /* Adımların esnek olmasını sağlar */
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  /* Her zaman görünen hafif gölge */
}

.steps:hover {
  transform: scale(1.04);
}

.steps img {
  max-width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto 10px;
}

.steps h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.steps p {
  font-size: 16px;
  color: #666;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.services-image {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  max-width: 30%;
  max-height: 30%;
  height: auto;
  z-index: -1;
}

.services-box {
  flex-basis: calc(33.33% - 100px);
  margin: 30px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Her zaman görünen hafif gölge */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* Hover durumunda biraz daha büyük gölge */
}

.mission-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 200px;
  /* Üst marjını düşürdük */
  background-color: #f2f2f2;
  border-radius: 10px;
}

.caption {
  margin-top: 40px;
  text-align: center;
}

.caption h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Hizmetler detay sayfası  */
.service-detail-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* Mobilde daha iyi görünüm için */
}

.service-info img {
  margin-right: 15px;
  margin-bottom: 10px;
  /* Mobilde daha iyi görünüm için */
}

.service-detail-container .feedback {
  margin-top: 30px;
}

.service-detail-container .button {
  margin-top: 50px;
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}


/* ===========================================Yükleme Sayfası ========================================================================*/
.pipeline-container {
  width: 80%;
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  margin: 0 auto;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s;
}

.pipeline-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* pipeline card sayisini duzenleme*/
  gap: 20px;
  width: 100%;
}

.pipeline-button {
  max-width: 150px;
  /* Maksimum genişlik */
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.pipeline-button img {
  width: 50px;
  /* Sabit genişlik */
  height: 50px;
  /* Sabit yükseklik */
  object-fit: cover;
  /* İmajın boyutunu koru, ancak kesme yapılabilir */
  margin-bottom: 10px;
}

.pipeline-button span {
  margin-top: 5px;
  /* Yazıyı üste hizala */
  font-weight: bold;
}

.upload-content {
  margin-top: 20px;
  /* Container'dan aşağı kaydır */
}

#dynamic-content {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: white;
  text-align: center;
  z-index: 0;
}

.file-upload-label {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.file-upload-label:hover {
  background-color: #0056b3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.file-upload-container {
  margin-top: 20px;
  /* Üstten 20px boşluk bırak */
  margin-bottom: 20px;
  /* Altından 20px boşluk bırak */
  padding: 10px;
  /* İçeriklerle container arasında boşluk bırak */
}

.submit-button-container {
  text-align: center;
}


/* Dosya seçilmediğinde dosya adını görünür yap */
input[type="file"].visually-hidden+label+.file-name {
  display: block;
}

input[type="file"].visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100px;
  /* Sabit genişlik */
  height: 1000px;
  /* Sabit yükseklik */
  z-index: 2;
}

.file-name {
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #f9f9f9;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  /* Mavi renk */
  color: white;
  border: none;
  border-radius: 20px;
  /* Yuvarlak köşeler */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Hafif bir gölge */
  transition: background-color 0.3s, box-shadow 0.3s;
  /* Düğme üzerine gelince geçiş efekti */
}

.submit-button:hover {
  background-color: #0056b3;
  /* Daha koyu mavi renk */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Daha belirgin bir gölge */
}

.submit-button:active {
  transform: scale(0.95);
  /* Tıklama sırasında küçük bir animasyon */
}

.hidden {
  display: none;
}

/*================================ Profile ============================ */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 40px);
  padding-top: 20px;
}

.profile-content {
  margin-left: 20px;
  margin-top: 50px;
  /* Profile sidebar'dan 20px daha fazla yukarıda */
  text-align: left;
}

.profile-sidebar {
  margin-top: 50px;
  width: 230px;
  height: 100%;
  padding-top: 24px;
}

.profile-sidebar h2 {
  margin-bottom: 20px;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.profile-sidebar ul li {
  margin-bottom: 10px;
}

.profile-sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.profile-sidebar ul li a.active {
  background-color: #007bff;
  color: #fff;
}

.profile-form,
.user-details,
.change-password-form,
.delete-account-form {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 20px;
}

.profile-form,
.change-password-form,
.delete-account-form {
  display: flex;
  flex-direction: column;
}

.profile-form label,
.change-password-form label,
.delete-account-form label {
  display: inline-block;
  width: 100px;
  text-align: left;
  margin-right: 10px;
}

.profile-form input[type="button"],
.change-password-form input[type="button"],
.delete-account-form input[type="button"] {
  width: 33%;
  padding: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: auto;
  margin-left: 240px;
  text-align: center;
}

.profile-form input[type="button"]:hover,
.change-password-form input[type="button"]:hover,
.delete-account-form input[type="button"]:hover {
  background-color: #2980b9;
}

.profile-sidebar .profile-form,
.profile-sidebar .user-details,
.profile-sidebar .change-password-form,
.profile-sidebar .delete-account-form {
  display: block;
  width: auto;
  padding: 10px;
  border: none;
}

.profile-form input,
.change-password-form input,
.delete-account-form input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 500px;
  box-sizing: border-box;
}

.profile-form button,
.change-password-form button,
.delete-account-form button {
  width: 33%;
  padding: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: auto;
  margin-left: 240px;
  text-align: center;
}

.profile-form button:hover,
.change-password-form button:hover,
.delete-account-form button:hover {
  background-color: #2980b9;
}

/*================================ Joblist ============================ */
.joblist-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Sol üst köşeye hizala */
}

.joblist-h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.joblist-p {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.job-list {
  width: 100%;
  border-collapse: collapse;
}

.job-list th,
.job-list td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.job-list th {
  background-color: #f5f5f5;
}

/*================================ Mobile ============================ */
@media (max-width: 768px) {
  .hero-container {
    padding-top: 50%;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 3%;
    /* Üstten %3 boşluk */
  }

  .how-it-works-section {
    flex-direction: column;
    align-items: center;
  }

  .steps {
    margin-bottom: 2%;
    /* Alt kısmından %2 boşluk */
    max-width: 100%;
    /* Tam genişlikte olması sağlanıyor */
  }

  .services-container {
    display: grid;
    grid-template-columns: 1fr;
    /* Tek bir sütun oluştur */
    gap: 20px;
  }

  .services-box {
    flex-grow: 1;
    /* Tüm boşluğu kapla */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .services-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    /* Hover durumunda biraz daha büyük gölge */
  }

  .services-image {
    max-width: 60%;
    height: auto;
    /* Yüksekliği otomatik ayarla */
  }

  .mission-container {
    padding: 2%;
    /* Her taraftan %2 iç boşluk */
    text-align: center;
    position: relative;
    top: 6%;
    /* Yükseklik yarısında başlaması için */
    transform: translateY(-50%);
    margin-bottom: 100px;
  }

  /* Hizmetler detay sayfası */
  .service-detail-container {
    max-width: 90%;
    /* Sayfa genişliğinin %90'ı kadar olacak */
    margin: 0 auto;
    padding: 5%;
    /* Sayfa genişliğinin %5'i kadar iç boşluk */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .service-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* Mobilde daha iyi görünüm için */
  }

  .service-info img {
    margin-right: 5%;
    /* Sağ boşluk olarak %5 kullan */
    margin-bottom: 2%;
    /* Aşağı boşluk olarak %2 kullan */
    max-width: 40%;
    /* Resmin maksimum genişliği %40 */
  }

  .service-detail-container .feedback {
    margin-top: 5%;
    /* Yukarı boşluk olarak %5 kullan */
  }

  footer {
    position: relative;
    background-color: #5e5e5e;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    font-size: 12px;
    z-index: 1;
    margin-top: 5%;
    /* Yukarı boşluğu yüzde bazında ayarlandı */
  }
  .footer-mobile{
    margin-left: -20px;
  }

  .service-detail-container .button {
    margin-top: 5%;
    /* Butonun üst boşluğu yüzde bazında ayarlandı */
    background-color: #4CAF50;
    color: white;
    padding: 3% 5%;
    /* Padding yüzde bazında ayarlandı */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    /* Font büyüklüğü vw (viewport width) birimine göre ayarlandı */
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  .pipeline-container {
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 0;
  }
  .pipeline-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .pipeline-button {
    flex: 1 1 100%;
    max-width: none;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .pipeline-button img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
  

  .pipeline-button span {
    margin-top: 3px;
    font-size: 14px;
  }

  .upload-content {
    margin-top: 10px;
  }

  #dynamic-content {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
  }

  .file-upload-label {
    padding: 5px 10px;
  }

  .file-name {
    font-size: 14px;
    padding: 3px 8px;
    margin-top: 3px;
  }

  .submit-button {
    padding: 8px 16px;
    border-radius: 15px;
  }

  .submit-button-container {
    margin-top: 10px;
  }

  .joblist-container {
    width: 90%;
    /* Adjusted width for better responsiveness */
    padding: 10px;
  }

  .joblist-h1 {
    font-size: 20px;
    /* Reduced font size for better readability on smaller screens */
    margin-bottom: 15px;
    /* Reduced margin for better spacing */
  }

  .joblist-p {
    font-size: 14px;
    /* Reduced font size for better readability on smaller screens */
    margin-bottom: 15px;
    /* Reduced margin for better spacing */
  }

  .job-list th,
  .job-list td {
    padding: 8px;
    /* Reduced padding for better spacing */
    font-size: 14px;
    /* Reduced font size for better readability on smaller screens */
  }

  /*================================ Profile ============================ */

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: auto;
    margin-bottom: 20px;
  }

  .profile-content {
    margin-left: 10px;
    margin-top: 20px;
    text-align: left;
    width: 90%;
  }

  .profile-sidebar {
    margin-top: 20px;
    width: 90%;
    max-width: 230px;
    height: 100%;
    padding-top: 24px;
    overflow-y: auto;
    margin-left: 40px;
  }

  .profile-sidebar h2 {
    margin-bottom: 20px;
  }

  .profile-sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .profile-sidebar ul li {
    margin-bottom: 10px;
  }

  .profile-sidebar ul li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
  }

  .profile-sidebar ul li a.active {
    background-color: #007bff;
    color: #fff;
  }

  .profile-form,
  .user-details,
  .change-password-form,
  .delete-account-form {
    width: 90%;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .profile-form,
  .change-password-form,
  .delete-account-form {
    display: flex;
    flex-direction: column;
  }

  .profile-form label,
  .change-password-form label,
  .delete-account-form label {
    width: auto;
    text-align: left;
    margin-right: 10px;
  }

  .profile-form input[type="button"],
  .change-password-form input[type="button"],
  .delete-account-form input[type="button"] {
    width: auto;
    /* Genişlik otomatik */
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    margin: 0 auto;
    /* Butonları ortala */
  }

  .profile-form input[type="button"]:hover,
  .change-password-form input[type="button"]:hover,
  .delete-account-form input[type="button"]:hover {
    background-color: #2980b9;
  }

  .profile-form input,
  .change-password-form input,
  .delete-account-form input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }

  .profile-form button,
  .change-password-form button,
  .delete-account-form button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    margin-left: 100px;
  }

  .profile-form button:hover,
  .change-password-form button:hover,
  .delete-account-form button:hover {
    background-color: #2980b9;
  }

}