/* Genel CSS */
body {
  display: flex;
  flex-direction: column;
  /* Dikey yönde düzenleme */
  min-height: 100vh;
  /* Minimum yükseklik olarak tüm ekranı kapsar */
  margin: 0;
}

main {
  flex-grow: 1;
}


header {
  position: fixed;
  top: 0;
  background-color: #29475f;
  padding: 20px;
  z-index: 1;
}

footer {
  bottom: 0;
  background-color: #5e5e5e;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  z-index: 0;
}

/* ================================================== Anasayfa ve Hizmetler sayfası ========================================================= */
.background-image {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}



.how-it-works-section {
  display: flex;
  padding-bottom: 100px;
}

.steps {
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  text-align: center;
  transition: transform 0.3s ease;
  max-height: 30%;
}

.steps:hover {
  transform: scale(1.05);
}

.steps img {
  max-width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto 10px;
}

.steps h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.steps p {
  font-size: 16px;
  color: #666;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 250px;
  margin-top: 50px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 250px;
  margin-top: 50px;
}

.services-image {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  max-width: 30%;
  max-height: 30%;
  height: auto;
  z-index: -1;
}

.services-box {
  flex-basis: calc(33.33% - 100px);
  margin: 30px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.services-box:hover {
  transform: scale(1.05);
}

.mission-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin-top: 50px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.caption {
  margin-top: 40px;
  text-align: center;
}

.caption h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/*=================================== Hizmetler detay sayfası ========================================== */
.service-detail-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.service-detail-container img {
  margin-top: 10px;
}

.service-detail-container .feedback {
  margin-top: 30px;
}

.service-detail-container .button {
  margin-top: 50px;
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}



/* ===========================================Yükleme Sayfası ========================================================================*/
.pipeline-container {
  width: 80%;
  max-width: 1000px;
  border: 5px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}


.pipeline-buttons {
  display: flex;
  flex-wrap: center;
  justify-content: center;
  /* Butonları yatayda ortala */
  gap: 20px;
  margin-top: 20px;
}

.pipeline-button {
  flex: 0 0 calc(20% - 20px);
  /* 5 kutucuk için %20 genişlik */
  max-width: 150px;
  /* Maksimum genişlik */
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  /* Dosya yükleme alanını yerleştirmek için */
}

.pipeline-button img {
  width: 50px;
  /* Sabit genişlik */
  height: 50px;
  /* Sabit yükseklik */
  object-fit: cover;
  /* İmajın boyutunu koru, ancak kesme yapılabilir */
  margin-bottom: 10px;
}


.pipeline-button span {
  display: block;
  font-weight: bold;
}

.upload-content {
  margin-top: 20px;
  /* Container'dan aşağı kaydır */
}

#dynamic-content {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
  z-index: 0;
  transition: all 0.3s;
  /* Geçiş efekti */
}

.file-upload-label {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.file-upload-label:hover {
  background-color: #0056b3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.file-upload-container {
  margin-top: 20px;
  /* Üstten 20px boşluk bırak */
  margin-bottom: 20px;
  /* Altından 20px boşluk bırak */
  padding: 10px;
  /* İçeriklerle container arasında boşluk bırak */
}

.submit-button-container {
  text-align: center;
}


/* Dosya seçilmediğinde dosya adını görünür yap */
input[type="file"].visually-hidden+label+.file-name {
  display: block;
}

.file-upload-label {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

input[type="file"].visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100px;
  /* Sabit genişlik */
  height: 1000px;
  /* Sabit yükseklik */
  z-index: 2;
}

.file-name {
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #f9f9f9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  /* Mavi renk */
  color: white;
  border: none;
  border-radius: 20px;
  /* Yuvarlak köşeler */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Hafif bir gölge */
  transition: background-color 0.3s, box-shadow 0.3s;
  /* Düğme üzerine gelince geçiş efekti */
}

.submit-button:hover {
  background-color: #0056b3;
  /* Daha koyu mavi renk */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Daha belirgin bir gölge */
}

.submit-button:active {
  transform: scale(0.95);
  /* Tıklama sırasında küçük bir animasyon */
}

.hidden {
  display: none;
}

.pipeline-button:active {
  transform: scale(0.95);
  /* Küçük bir ölçeklendirme efekti */
}

.pipeline-button:active {
  filter: brightness(1.2);
  /* Renklendirme canlılığını artır */
}


/*================================ Profile ============================ */
.profile-container {
  display: flex;
  justify-content: center; /* Yatayda ortala */
  align-items: flex-start; /* Dikeyde en üstte olacak şekilde */
  height: calc(100vh - 40px); /* Sayfa yüksekliğinin 40 piksel eksik olacak şekilde ayarla */
  padding-top: 20px; /* Üst boşluk */
}

.profile-content {
    margin-left: 320px; /* Sidebar genişliği + margin */
    margin-top: 20px; /* Üst boşluk */
    text-align: left; /* İçeriği ortala */
}

.profile-sidebar {  
  position: fixed;
  top: 24px; /* Sayfanın üstünden 20px aşağıda */
  left: 28%; /* Sayfanın ortasına */
  transform: translateX(-50%); /* Yatayda ortala */
  width: 230px;
  height: 100vh;
  background-color: #fff;
 
  box-shadow: none; /* Gölgelendirmeyi kaldırın */
  border-top: none;
  border-bottom: none; /* Sınırları kaldırın */
}

.profile-sidebar h2 {
  margin-bottom: 20px;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.profile-sidebar ul li {
  margin-bottom: 10px;
}

.profile-sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.profile-sidebar ul li a.active {
  background-color: #3498db;
  color: #fff;
}

.profile-form, .user-details, .change-password-form, .delete-account-form {
  display: none;
  width: 700px;
  padding: 20px;
  border: 1px solid #ccc;
}

.profile-form , .change-password-form, .delete-account-form {
  display: flex;
  flex-direction: column;
}

.profile-form label, .change-password-form label, .delete-account-form label {
  display: inline-block;
  width: 100px; /* Sabit genişlik */
  text-align: left; /* Metni sağa hizala */
  margin-right: 10px; /* Sağdan boşluk */
}

.profile-form input[type="button"], .change-password-form input[type="button"], .delete-account-form input[type="button"] {
  width: 33%;
  padding: 5px ;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px; /* Butonlar arasında boşluk bırakmak için */
  margin-right: 100px; /* Sağdan boşluk */
  margin-left: 240px; /* Soldan boşluk */
  text-align: center; /* Metni ortala */
}

.profile-form input[type="button"]:hover, .change-password-form input[type="button"]:hover, .delete-account-form input[type="button"]:hover {
  background-color: #2980b9;
}

.profile-sidebar .profile-form,
.profile-sidebar .user-details,
.profile-sidebar .change-password-form,
.profile-sidebar .delete-account-form {
    display: block;
    width: auto;
    padding: 10px;
    border: none;
}


.profile-form input,
.change-password-form input,
.delete-account-form input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px; /* Yuvarlak köşe */
    border: 1px solid #ccc; /* Kenarlık rengi ve kalınlığı */
    width: 500px; /* Genişlik, içerik alanının genişliğine göre ayarlanır */
    box-sizing: border-box; /* Kutu modelini içerik alanının genişliğine dahil etmek için */
}

.element {
  width: 50vw;
  height: 50vh;
}

.profile-form button, .change-password-form button, .delete-account-form button {
  width: 33%;
  padding: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px; /* Butonlar arasında boşluk bırakmak için */
  margin-right: auto; /* Sağdan boşluk */
  margin-left: 240px; /* Soldan boşluk */
  text-align: center; /* Metni ortala */
}

.profile-form button:hover, .change-password-form button:hover, .delete-account-form button:hover {
  background-color: #2980b9;
}

/*================================ Joblist ============================ */
.joblist-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Sol üst köşeye hizala */
}

.joblist-h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.joblist-p {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

/* Font Awesome ikonlarının boyutunu ve renkini ayarla */
.action-button i {
  font-size: 18px;
  margin-right: 5px;
}

/* Linklerin üzerine gelindiğinde rengini değiştir */
.action-button:hover {
  color: #2196F3;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar label {
  margin-right: 10px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.job-list {
  width: 100%;
  border-collapse: collapse;
}

.job-list th,
.job-list td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.job-list th {
  background-color: #f5f5f5;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.status.success {
  background-color: #4CAF50;
  color: white;
}

.status.pending {
  background-color: #FFCC80;
  color: black;
}

.action-button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  position: relative;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 5px;
}

.pagination .current {
  font-weight: bold;
  background-color: #2196F3; /* Mavi renk */
  color: white; /* Beyaz renk yazı */
  padding: 5px 10px; /* Kutunun içerisindeki içeriği hizalamak için padding */
  border-radius: 5px; /* Yuvarlatılmış köşeler */
}

.action-button img {
  width: 20px; /* Logonun genişliği */
  height: 20px; /* Logonun yüksekliği */ 
  vertical-align: middle; /* Dikey hizalamayı ortala */
  margin-right: 0px; /* Logolar arasında bir boşluk bırak */
}

/* Her bir buton için farklı renkler */
.editor_pdf {
background-color: #ffffff; /* Kırmızı */
color: rgb(255, 0, 0);
}

.editor_csv {
background-color: #ffffff; /* Mavi */
color: rgb(0, 68, 255);
}

.action-button:active span {
color: transparent; /* Sembolün rengini transparent yap */
text-shadow: 0 0 0 #fff; /* Sembolün etrafına beyaz bir gölge ekleyerek dolgu yapısı oluştur */
}