{% load static %}
<div class="row align-items-center">
  <div class="col-4 col-md-2">
    <!-- Logo -->
    <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid" style="width: 100px;">
  </div>

  <div class="col-8 col-md-10 d-flex justify-content-end">
    <!-- Bağlantılar -->
    <a href="{% url 'index' %}" class="text-white mx-3">Anasayfa</a>
    <a href="{% url 'service_page' %}" class="text-white mx-3">Hizmetler</a>
    <a href="{% url 'login_page' %}" class="text-white mx-3">Giriş Yap</a>
  </div>
</div>