{% extends "base.html" %}
{% load static %}
{% block header %}
{% include "guest/header.html" %}
{% endblock %}
{% block content %}

<h1 class="text-center mb-5 mt-5">Hizmetlerimiz</h1>
<div class="services-container row">
  {% for servis in servisler %}
  <div class="col-md-3 mb-4 services-box">
      <div class="h-100" onclick="window.location.href = '/guest/servicedetail/{{ servis.id }}';">
          <img class="card-img-top services-image" src="{{ servis.resim_kücük.url }}" alt="Fotoğraf" >
          <div class="card-body">
              <h5 class="card-title">{{ servis.adı }}</h5>
              <p class="card-text text-center">{{ servis.açıklama_kısa }}</p>
          </div>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
{% include "guest/footer.html" %}
{% endblock %}