{% extends "base.html"%}
{% load static %}
{% block header %}
{% include "guest/header.html" %}
{% endblock %}
{% block content %}
<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 250px;
    /* 250px'den 100px'ye düşürüldü */
    margin-top: -250px;
    /* Yukarıdaki alanı 50px'e ayarlandı */
    z-index: 0;

  }

  .box {
    flex-basis: calc(33.33% - 40px);
    /* 33.33% genişlikte ve aralarda 20px boşluk bırakır */
    margin: 20px;
    text-align: center;
    cursor: pointer;
    /* Tıklanabilirlik */
    transition: transform 0.3s ease;
    /* Animasyon */
z-index: 0;
  }

  .box:hover {
    transform: scale(1.05);
    /* Büyütme animasyonu */
  }

  .image {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    max-width: 30%;
    max-height: 30%;
    height: auto;
    z-index: -2;
    max-width: 110px;
    max-height: 103px;
    
  }

  .caption {
    margin-top: 40px;
    text-align: center;
    /* Metni ortala */
    z-index: 0;
  }
</style>

<div class="caption">

  <h1 class="h1-service" style="text-align: center; margin-bottom: -10px; margin-top: 100px;">Hizmetlerimiz</h1>
</div>
<div class="container">
  <!-- 3 kutu -->
  <div class="box" onclick="window.location.href = '/beyindamar';">

    <img class="image" style="max-width: 110px; max-height: 103px;" src="{% static 'guest\img\indir.png' %}"
      alt="Fotoğraf">

    <div class="caption">
      <h1>Beyin damar ağacı tespiti</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book</p>
    </div>
  </div>

  <div class="box" onclick="window.location.href = '/beyindamar';">

    <img class="image" style="max-width: 110px; max-height: 103px;" src="{% static 'guest\img\Damar.png' %}"
      alt="Fotoğraf">
    <div class="caption">
      <h1>Damar ağacı risk haritası</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book</p>
    </div>
  </div>

  <div class="box" onclick="window.location.href = '/beyindamar';">
    <img class="image" style="max-width: 110px; max-height: 103px;" src="{% static 'guest\img\beyintümör.png' %}"
      alt="Fotoğraf">
    <div class="caption">
      <h1>Beyin tümör tespiti</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book</p>
    </div>
  </div>


  <div class="box" onclick="window.location.href = '/beyindamar';">
    <img class="image" style="max-width: 110px; max-height: 103px;" src="{% static 'guest\img\kafatası1.png' %}"
      alt="Fotoğraf">
    <div class="caption">
      <h1>Kafatası kalınlık haritasını çıkar</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book</p>
    </div>
  </div>

  <div class="box" onclick="window.location.href = '/beyindamar';">
    <img class="image" style="max-width: 110px; max-height: 103px;" src="{% static 'guest\img\parkinson.png' %}"
      alt="Fotoğraf">
    <div class="caption">
      <h1>STN hücre tespiti</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book</p>
    </div>
  </div>
</div>


<script>
  // JavaScript ile her bir kutunun tıklanabilir olmasını sağlayalım
  const boxes = document.querySelectorAll('.box');
  boxes.forEach(box => {
    box.addEventListener('click', () => {
      const link = box.querySelector('a').getAttribute('href');
      window.location.href = link;

    });
  });
</script>
{% endblock %}

{% block footer %}
{% include "guest/footer.html" %}
{% endblock %}