body {
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
    background: var(--background);
    letter-spacing: 1px;
    padding: 0;
    background-color: #ffffff; /* Arka plan rengi */
    color: #000000; /* Metin rengi */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #29475f;
    padding: 20px;
    display: flex;
    align-items: center;
}

.home-link {
    text-decoration: none;
    color: #211b1b;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Sayfa arka plan rengiyle aynı yapar */
}

main {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

form {
    margin-top: 20px;
    text-align: left;
}

.form-group {
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
}

input[type="email"] {
    width: calc(100% - 100px); /* E-posta alanının genişliği, kenar boşluğunu da hesaba katarak ayarlanır */
    padding: 8px;
    box-sizing: border-box;
    border-radius: 20px; /* Köşeleri yuvarlak hale getirir */
    background-color: #7092be; /* Açık gri arka plan */
    border: 0; /* Kenar çizgisini kaldırır */       
}

button {
    padding: 8px 20px;
    background-color: #bbcfe9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: calc(50% - 30px); /* Gönder düğmesini ortalamak için margin-left değeri ayarlanır */
    margin-top: 50px; /* Gönder düğmesini aşağı kaydırmak için margin-top değeri ayarlanır */
    font-weight: bold; /* Metni kalınlaştır */
}

button:hover {
    background-color: #ffffff;
}
header img {
    width: 100px; /* veya istediğiniz boyut */
    height: auto;
}

p {
    margin-top: 40px; /* Üstten mesafe */
    margin-bottom: 40px; /* Alttan mesafe */
}

