/* Genel CSS */
body {
  display: flex;
  flex-direction: column;
  /* Dikey yönde düzenleme */
  min-height: 100vh;
  /* Minimum yükseklik olarak tüm ekranı kapsar */
  margin: 0;
}

main {
  flex-grow: 1;
}


header {
  position: fixed;
  top: 0;
  background-color: #29475f;
  padding: 20px;
  z-index: 1;
}

footer {
  bottom: 0;
  background-color: #5e5e5e;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  z-index: 0;
}
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 250px;
  margin-top: 50px;
}

.how-it-works-section {
  display: flex;
  justify-content: space-between; /* Adımları eşit aralıklarla dağıtır */
  align-items: center; /* Dikeyde hizalamayı sağlar */
  padding-bottom: 100px;
}

.steps {
  max-width: 275px;
  height: 352px;
  flex: 1; /* Adımların esnek olmasını sağlar */
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); /* Her zaman görünen hafif gölge */
}

.steps:hover {
  transform: scale(1.04);
}

.steps img {
  max-width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto 10px;
}

.steps h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.steps p {
  font-size: 16px;
  color: #666;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.services-image {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  max-width: 30%;
  max-height: 30%;
  height: auto;
  z-index: -1;
}

.services-box {
  flex-basis: calc(33.33% - 100px);
  margin: 30px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Her zaman görünen hafif gölge */
}

.services-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Hover durumunda biraz daha büyük gölge */
}

.mission-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.caption {
  margin-top: 40px;
  text-align: center;
}

.caption h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Hizmetler detay sayfası  */
.service-detail-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.service-detail-container img {
  margin-top: 10px;
}

.service-detail-container .feedback {
  margin-top: 30px;
}

.service-detail-container .button {
  margin-top: 50px;
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}