{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'guest/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>BrainWeb</title>
</head>

<body>
    <header class="container-fluid text-white">
        {% block header %}
        <!-- Header content -->
        {% endblock %}
    </header>

    <main class="container my-5">
        {% block content %}
        <!-- Content -->
        {% endblock %}
    </main>

    <footer class="container-fluid text-white">
        {% block footer %}
        <!-- Footer content -->
        {% endblock %}
    </footer>

    <!-- Bootstrap JS ve jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>